*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    display: flex;
    height: 60px;
    background-color: #121921;
    color: white;
    align-items: center;
   justify-content: space-evenly;
   
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon-logo.jpg");
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}
/*box 2*/
.address-1{
  color: #cccccc;
    font-size:0.85rem;
    margin-left: 21px;
    
}
.address-2{
    font-size: 1rem;
    font-weight: bold;
    margin-left: 1px;
}
.address-icon{
   display: flex;
   align-items: center;
}

.nav-search{
    display: flex;
    background-color: white;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 550px;
    font-size: 1.1rem;
    border: none;
}
.search-icon{
   width: 45px;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 1.8rem;
 background-color: rgb(219, 127, 6);
   border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: rgb(206, 209, 209)
}
.nav-search:hover{
    border: 2px solid #e67d06;
}
span{
    font-size: 0.7rem;
    margin-left: 3px;
}
.nav-second{
    font-size:0.85rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* pannel */

.panel{
    height: 45px;
    background-color:#222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
display: inline;
margin-left: 15px;
}
.panel-ops{
   width: 70%;
   font-size: 0.85rem;
   
}
.panel-deals{
   font-size: 0.9rem;
   font-weight: 700;
}
.hero-section{
    height: 430px;
    background-image: url("hero.jpg");
    background-size: cover;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: #f9430b;
    color: black;
    height: 40px;
    display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   font-size: 1.2rem;
   margin-bottom: 20px;
}
.hero-msg a{
    color: #0b2da8;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: tomato;
}
.box{

    height: 400px;
    width: 24%;
    padding: 10px 0px 15px;
}

.box-img{
    height: 300px;
     background-image: url("apll.png"); 
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;

}